.body-img{
	background-image: url('../img/mauro-mora-85112-unsplash.jpg');
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
	background-blend-mode: overlay;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: fixed;
}
.logo{
  font-family: 'Allerta Stencil', sans-serif;
}
.content{
  padding-top:8%;
  padding-bottom:0%;
  min-height:84vh;
}
.card-form{
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.card-form .card-header{
  background-color: transparent;
  border-bottom: none;
}
.sign-btn{
  padding: 0 30px
}
.form-header{
  font-weight: 400;
}
.btn-secondary{
  color: #fff;
  background-color: #1f1f25;
  border-color: #6c757d;
}
.no-padding{
  padding-left:0;
  padding-right:0;
}
.account-navbar{
  background-color: rgba(255, 255, 255, 0.84)!important;
}
.account-card{
  background-color: rgba(0,0,0,0.6);
  border-radius: .25rem;
}
.content-body{
  min-height:8vh;
}
.dash-body{
  background-color: #eee;
}
.main-body{
  margin-top:1%;
  margin-bottom:0%;
  min-height:82vh;
  background-color: #fff;
  box-shadow: 1px 1px 17px 1px #ddd;
}
.nav-pills .nav-link{
  border-radius: 0;
}
.body-content{
  padding:20px;
}
footer{
  padding: 20px;
}
.review{
  border-bottom: 1px solid #eee;
  margin-bottom: 0.8rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.review:last-child{
  border-bottom: 0;
}
.business-div .col-md-10{
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.filters{
  padding-top: 9px;
  padding-bottom: 7px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.review-textarea{
  min-height: 280px;
  border-bottom-left-radius: .2rem !important;
}
#reviewModal .modal-header{
  border-bottom: none;
}
#reviewModal .modal-footer{
  border-top: none;
}
